

/*******************************************************************************************************************
                                            PARTIE HEADER
*********************************************************************************************************************/
// Navbar
.Private-bg-nav{
    background: #0C3F71 !important;
    
}













/*******************************************************************************************************************
                                            PARTIE FOOTER
*********************************************************************************************************************/

footer{
    background-color:$color-bg-footer;

    .LinkHover:hover{
         color: #D32B52 !important;
    }


}