// Body
$body-bg: #F7F7F7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$colorCercle-1:#B8BDE4;
$colorCercle-2:#E0EAFF;
$colorCercle-3:#FAFFE1;
$colorCercle-4:#AADBE3;
$colorCercle-5:#F0FFEB;
$colorCercle-6:#D2D5E3;
$colorCercle-7:#D32B52;
$colorCercle-8:#C9CDC5;


//VARIABLE DE LA BARRE DE NAVIGATION
$color-bg-navbar:#0C3F71;
$color-bg-footer:#ECECEC;
$color-bg-1:#F7F7F7;